:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --primary: blue;
    --secondary: lightblue;
    --teriary: #FFDB58;
}


h1 {
    color: var(--primary);
    font-size: 3.6vw;
    text-decoration: none;
}


h2 {
    letter-spacing: 1px;
    font-size: 2.3vw;
    color: black;
    font-family: "Amiri", Arial, Helvetica, sans-serif;
    text-align: center;
}


h3 {
    font-family: inhert;
    color: #5e5e5e;
    font-size: 1.9vw;
    line-height: 25px;
    text-align: left;
}

p {
    font-family: inhert;
    color: #5e5e5e;
    font-size: 1.4vw;
    line-height: 28px;
    text-align: left;
}

/* selections highlight */
::selection {
    background-color: var(--primary);
    color: #fff;
}

/* Header */
.header {
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--secondary);
    padding: 0 20px 0;
}

.header a {
    text-decoration: none;
}


/* Topnav */
.topnav {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    font-size: 1.6vw;
}


.topnav a {
    text-decoration: none;
    padding-left: 20px; 
}

/* unvisited link */
.topnav a:link {
    color: var(--primary);
  }
  
/* visited link */
.topnav a:visited {
    color: var(--primary);
}
  
/* mouse over link */
.topnav a:hover {
    color: var(--teriary);
}
  
/* Logo */
.logo {
    display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding-top: 20px;
  max-width: 320px;
  

    /*display: block;
    position: relative;
    width: 3.2vw;
    max-width: 100%;
    height: auto;
    text-align: center;
    padding-top: 20px;
    padding-left: 33%;*/
}

/* Main Content */
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary);
    padding-left: 20px;
    padding-top: 20px;
}


.content img {
    display: flex;
    position: relative;
    width: 19vw;
    margin: 0 auto;
    padding: 0 auto;
}


main p {
    display: flex;
    overflow: hidden;
    border-left: 3px solid var(--primary);
    margin-left: 25px;
    padding-left: 40px;
}

main h2 {
    padding-bottom: 20px;
    font-size: 2.3vw;
}

/* Section */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }


section h2 {
    border-bottom: 3px solid var(--primary);
    padding: 20px 0;
    text-align: center;

}

/* flexbox styling start */
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    width: 100%;
    justify-content: center;
    padding: 25px 0;
    text-decoration: none;
  }

.container a {
    text-decoration: none;
}

.container ul {
    max-width: 365vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    
}

.container li {
    width: 25%;
    /* gets rid of the bullets */
    list-style: none;
    flex-wrap: wrap;
    padding: 2.5px;
    margin: 2.5px;
    border: 2.5px;
}

.container img {
    width: 100%;
    height: auto;
    opacity: 1;
    backface-visibility: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

 .container p {
    color: var(--primary);
    text-align: center;
    font-size: 1.5vw;

 }

 .main-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
    height: auto;
    opacity: 1;
    backface-visibility: hidden;
    
} 

/* flexbox styling end */

/* footer */
footer {
    display: flex;
    font-family: "Open Sans", sans-serif;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    background: var(--primary);
    padding: 10px;
    margin-top: 20px;
}


footer h2 {
    color: var(--secondary);
    text-decoration: none;
}


.footer-nav {
    display: flex;
    justify-content: center;  
}


.footer-nav a {
    text-decoration: none;
    padding-left: 20px; 
    font-size: 1.4vw;
}

/* unvisited link */
.footer a:link {
    color: var(--secondary);
}
  
/* visited link */
.footer a:visited {
    color: var(--secondary);
}
  
/* mouse over link */
.footer a:hover {
    color: var(--teriary);
}

/* ----------- Smart Phone ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    h1 {
        font-size: 18px;
    }
   
   
    p, h3 {
        font-size: 15px;
        line-height: 17px;
    }

    .topnav {
        font-size: 15px;
    }

    .content img {
        width: 25%;
        
    }

  }

 /* ----------- Tablet ----------- */ 
/* Portrait and Landscape */
@media only screen 
and (min-device-width: 834px) 
and (max-device-width: 1112px)
and (-webkit-min-device-pixel-ratio: 2) {

    h1 {
        font-size: 20px;
    }

    p, h3 {
        font-size: 18px;
        line-height: 20px;
    }


    .topnav {

        font-size: 16px;
    }

.content img {
    width: 50%;
 }
