:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --primary: blue;
    --secondary: lightblue;
    --teriary: #FFDB58;
}


h1 {
    color: var(--primary);
    font-size: 3.6vw;
    text-decoration: none;
}


h2 {
    letter-spacing: 1px;
    font-size: 2.3vw;
    color: black;
    font-family: "Amiri", Arial, Helvetica, sans-serif;
    text-align: center;
}


h3 {
    font-family: inhert;
    color: #5e5e5e;
    font-size: 1.9vw;
    line-height: 25px;
    text-align: left;
}

p {
    font-family: inhert;
    color: #5e5e5e;
    font-size: 1.4vw;
    line-height: 25px;
    text-align: left;
}

/* selections highlight */
::selection {
    background-color: var(--primary);
    color: #fff;
}

/* Header */
.header {
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--secondary);
    padding: 0 20px 0;
}

.header a {
    text-decoration: none;
}


/* Topnav */
.topnav {
    display: flex;
    justify-content: space-between;
}


.topnav a {
    text-decoration: none;
    padding-left: 20px; 
}

/* unvisited link */
.topnav a:link {
    color: var(--primary);
  }
  
/* visited link */
.topnav a:visited {
    color: var(--primary);
}
  
/* mouse over link */
.topnav a:hover {
    color: var(--teriary);
}
  
/* Logo */
.logo {
    display: block;
    position: relative;
    max-width: 100%;
    height: auto;
    text-align: center;
    padding-top: 20px;
}

/* Main Content */
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary);
    padding-left: 20px;
    padding-top: 20px;
}


content img {
    display: flex;
    justify-content: center;
    margin: 0 20px;
    padding: 0 10px;
}


main p {
    display: flex;
    overflow: hidden;
    border-left: 3px solid var(--primary);
    margin-left: 25px;
    padding-left: 40px;
}

/* flexbox styling start */
section{
    display: flex;
    flex-wrap: wrap;
}


section h2 {
    border-right: 3px solid var(--primary);
    padding: 0 10px 10px 0;
}


.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  
.main-container > div {
    background-color: #f1f1f1;
    color: white;
    width: 480px;
    height: 480px;
  }


.sub-container {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: center;
    overflow: scroll;
  }
  
.sub-container > div {
    background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;

  }


/* flexbox styling end */

/* footer */
footer {
    display: flex;
    font-family: "Open Sans", sans-serif;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    background: var(--primary);
    padding: 10px;
    margin-top: 20px;
}


footer h2 {
    color: var(--secondary);
    text-decoration: none;
}


.footer-nav {
    display: flex;
    justify-content: center;  
}


.footer-nav a {
    text-decoration: none;
    padding-left: 20px; 
}

/* unvisited link */
.footer a:link {
    color: var(--secondary);
}
  
/* visited link */
.footer a:visited {
    color: var(--secondary);
}
  
/* mouse over link */
.footer a:hover {
    color: var(--teriary);
}

/* ----------- Smart Phone ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    p, h3 {
        font-size: 1.0vw;
    }

    img {
        max-width: 275px;
    }
  }

  
/* Portrait and Landscape */
@media only screen 
and (min-device-width: 834px) 
and (max-device-width: 1112px)
and (-webkit-min-device-pixel-ratio: 2) {

    p, h3 {
        font-size: 2.0vw;
    }


img {
        max-width: 734px;
    }
}
